h1{
    font-size:xx-large;
    color: rgb(234, 238, 240);
}
.main{
    text-align: center;
    border: 1px solid black;
    padding: 3px;
    margin:2px;
    width: 800px;
    height: 500px;
    margin-left: 290px;
    background-color: black;
}
.players{
    display: flex;
    justify-content:center;
    margin: 30px;
    font-size: x-large;
}
.player1{
    padding: 2px;
    margin: 5px;
    color: aliceblue;
}
.player2{
    padding: 2px;
    margin: 5px;
    color:aliceblue;
    margin-left: 10px;
}
.btn1{
    width: 70px;
    height: 60px;
    margin:1px;
    border: 1px solid black;
    border-radius: 9px;
}
.btn2{
    width: 70px;
    height: 60px;
    margin:1px;
    border: 1px solid black;
    border-radius: 9px;
}
.btn3{
    width: 70px;
    height: 60px;
    margin:1px;
    border: 1px solid black;
    border-radius: 9px;
}
.btn4{
    width: 70px;
    height: 60px;
    margin:1px;
    border: 1px solid black;
    border-radius: 9px;
}
.btn5{
    width: 70px;
    height: 60px;
    margin:1px;
    border: 1px solid black;
    border-radius: 9px;
}
.btn6{
    width: 70px;
    height: 60px;
    margin:1px;
    border: 1px solid black;
    border-radius: 9px;
}
.btn7{
    width: 69px;
    height: 60px;
    margin:1px;
    border: 1px solid black;
    border-radius: 9px;
}
.btn8{
    width: 69px;
    height: 60px;
    border: 1px solid black;
    border-radius: 9px;
}
.btn9{
    width: 69px;
    height: 60px;
    margin:1px;
    border: 1px solid black;
    border-radius: 9px;
}
button{
    margin: 4px;
    height: 40px;
    width: 100px;
}
.row1{
    
    width: 230px;
    padding: 1px;
    margin-left:289px ;
    border-radius: 12px;
    background-color: black;
}
.row2{
    
    width: 230px;
    padding: 1px;
    margin-left:289px ;
    border-radius: 12px;
    background-color: black;
}
.row3{
    width: 230px;
    padding: 1px;
    margin-left:290px ;
    border-radius: 12px;
    background-color: black;
}
.reset{
    margin-top: 30px;
}
.btn{
    border-radius: 10px;
    background-color: rgba(28, 109, 231, 0.782);
    color: white;
    border: 1px solid black;
}
